div{
    height: 200px;
    width:200px;
    background-color: chocolate;
}
@media (max-width: 300px)
{
    div{
        background-color: pink;
    }
}
@media (min-width: 700px) and (max-width: 400px)
{
    div{
        background-color: rgb(0, 255, 68);
    }
}
@media (max-width: 600px)
{
    div{
        background-color: rgb(255, 0, 221);
    }
}