div{
    height: 100px;
    width:100px;
    background-image: url("ola.jpg");
    background-size: cover;
    right: 0px;
    top: 50px;
    margin-right:100px ;
    font: bold 20px Arial, sans-serif;
    font: bold x-large Arial, sans-serif;
}