*{
    padding: 0px;
    margin: 0px;
    color: azure;
}
#navbar{
    height:60px;
    background-color:#0f1111;
}
button{
    background-color:#f08804;
}
#logo{
    color: #f08804;
    font-size: 20px;
    text-underline: pink;
}
a{
    margin-right: 200px;
} 